{% extends "dlf-base.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
<span class="govuk-caption-xl">Validation history</span>
<h1 class="govuk-heading-xl">
  {{ local_authority_id | map_la_code_to_name }}
</h1>

{%- set development_mode = request.args.get('development_mode') -%}

 {% if development_mode == 'true' %}
     <h2 class="govuk-heading-m">History of validation results fetched from api url</h2>
    <p class="govuk-body"> {{ url }}</p>
  {% endif %}

<table class="govuk-table results-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row validation-result-row">
            <th class="govuk-table__header">Date of validation</th>
            <th class="govuk-table__header center-align-cell">Register downloadable</th>
			<th class="govuk-table__header center-align-cell">Register in CSV format</th>
			<th class="govuk-table__header center-align-cell">CSV headers correct</th>
			<th class="govuk-table__header center-align-cell">Data valid</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
	    {% for item in data.results %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    {{ item.date }}
                </td>
                {%- if not item.validated %}
                    <td class="govuk-table__cell result-cell--not-available center-align-cell" colspan="4">
                        <span class="validation-result-not-available">No results available</span>
                    </td>
                {% else %}

                    {% if item.validated.statusCode == 200 %}
                        <td class="govuk-table__cell result-cell successful">Yes
                            <span class="test-result-link">(<a href="{{ item['register-url'] if item['register-url']}}">Download<span class="govuk-visually-hidden"> {{ item.organisation | map_la_code_to_name }} brownfield land register</span></a>)</span>
                        </td>

                        {%- set isCSV = item.validated.isCsv|string %}
                        <td class="govuk-table__cell result-cell {{ 'successful' if isCSV == 'True' else 'error' }}">{{ 'Yes' if isCSV == 'True' else 'No' }}</td>

                        {%- if isCSV == 'True' -%}

                            {% set hasHeaders = item.validated.hasRequiredHeaders|string %}
                            <td class="govuk-table__cell result-cell {{ 'successful' if hasHeaders== 'True' else 'error' }}">{{ 'Yes' if hasHeaders == 'True' else 'No' }}</td>

                            {%- if hasHeaders == 'True' -%}
                                {% if item.validated.isValid|string == 'True' %}
                                <td class="govuk-table__cell result-cell successful">Yes</td>
                                {% else %}
                                <td class="govuk-table__cell result-cell error">No
                                    <span class="test-result-link">(<a href="{{ url_for('frontend.result_details_for_authority', local_authority_id=item.organisation) }}"><span class="govuk-visually-hidden">See { item.organisation | map_la_code_to_name }} register validation </span>Results</a>)</span>
                                </td>
                                {% endif %}
                              {%- else -%}
                                <td class="govuk-table__cell result-cell error">-</td>
                              {%- endif -%}

                        {%- else -%}
                            <td class="govuk-table__cell result-cell error">-</td>
                            <td class="govuk-table__cell result-cell error">-</td>
                        {%- endif -%}

                    {% else %}
                        <td class="govuk-table__cell result-cell error">No</td>
                        <td class="govuk-table__cell result-cell error">-</td>
                        <td class="govuk-table__cell result-cell error">-</td>
                        <td class="govuk-table__cell result-cell error">-</td>
                    {% endif %}

                {% endif %}
            </tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}

{% block bodyEnd %}
<script>
	console.log('{{ data }}');
</script>
{% endblock %}
