{% extends "dlf-base.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
<span class="govuk-caption-xl">Brownfield sites</span>
<h1 class="govuk-heading-xl">
  Validation status
</h1>

{%- set development_mode = request.args.get('development_mode') -%}

<table class="govuk-table results-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row validation-result-row">
			<th class="govuk-table__header" colspan="2">Local Authority</th>
			<th class="govuk-table__header center-align-cell">URL exists</th>
			<th class="govuk-table__header center-align-cell">Is CSV</th>
			<th class="govuk-table__header center-align-cell">Has headers</th>
			<th class="govuk-table__header center-align-cell">Valid</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		{% for item in data %}
		<tr class="govuk-table__row {{ 'govuk-table__row--no-border' if development_mode == 'true' }}">
			<td class="govuk-table__cell" colspan="2">{{ item.organisation | map_la_code_to_name }}
				<p class="see-register-link"><a href="{{ item['register-url'] if item['register-url'] }}">See full register</a></p>
			</td>
			{%- if item.validated.NULL %}
			<td class="govuk-table__cell result-cell--not-available center-align-cell" colspan="4">
				<span class="validation-result-not-available">No results available</span>
			</td>
			{% else %}
			{% set statusCode = item.validated.statusCode|string %}
			<td class="govuk-table__cell result-cell {{ 'successful' if statusCode == '200' else 'error' }}">{{ 'Yes' if statusCode == '200' else 'No' }}</td>
			{% set isCSV = item.validated.isCsv|string %}
			<td class="govuk-table__cell result-cell {{ 'successful' if isCSV == 'True' else 'error' }}">{{ 'Yes' if isCSV == 'True' else 'No' }}</td>
			{% set hasHeaders = item.validated.hasRequiredHeaders|string %}
			<td class="govuk-table__cell result-cell {{ 'successful' if hasHeaders== 'True' else 'error' }}">{{ 'Yes' if hasHeaders == 'True' else 'No' }}</td>
			{% set isValid = item.validated.isValid|string %}
			<td class="govuk-table__cell result-cell {{ 'successful' if isValid == 'True' else 'error' }}">{{ 'Yes' if isValid == 'True' else 'No' }}</td>
			{% endif %}

		</tr>
		{% if development_mode == 'true' %}
		<tr class="govuk-table__row">
			<td class="govuk-table__cell" colspan="6">
				<div class="dev-output-row">
					<span class="dev-output-title">Output:</span>
					<div class="dev-output">{{ item }}</div>
				</div>
			</td>

		</tr>
		{% endif %}
		{% endfor %}

	</tbody>
</table>

{% endblock %}

{% block bodyEnd %}
<script>
	console.log('{{ data }}');
</script>
{% endblock %}
