{% extends "dlf-base.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
<span class="govuk-caption-xl">Brownfield land registers</span>
<h1 class="govuk-heading-xl">
  Status overview
</h1>

<div class="data-item govuk-!-margin-bottom-6">
	<span class="data-item__number govuk-!-font-size-80">{{ data.summary.total }}</span>
	<p class="govuk-body govuk-!-font-size-36">Local authorities checked</p>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-9">
	<div class="govuk-grid-column-one-quarter">
		<div class="data-item">
			<span class="data-item__number govuk-!-font-size-48">{{ data.summary.url }}</span>
			<p class="govuk-body govuk-!-font-size-24">Registers downloadable</p>
		</div>
	</div>
	<div class="govuk-grid-column-one-quarter">
		<div class="data-item">
			<span class="data-item__number govuk-!-font-size-48">{{ data.summary.csv }}</span>
			<p class="govuk-body govuk-!-font-size-24">Registers in CSV format</p>
		</div>
	</div>
	<div class="govuk-grid-column-one-quarter">
		<div class="data-item">
			<span class="data-item__number govuk-!-font-size-48">{{ data.summary.headers }}</span>
			<p class="govuk-body govuk-!-font-size-24">CSV headers correct</p>
		</div>
	</div>
	<div class="govuk-grid-column-one-quarter">
		<div class="data-item">
			<span class="data-item__number govuk-!-font-size-48">{{ data.summary.valid }}</span>
			<p class="govuk-body govuk-!-font-size-24">Data valid</p>
		</div>
	</div>
</div>

<a href="{{ url_for('frontend.breakdown') }}" class="govuk-link govuk-!-font-size-24">See full breakdown by Local Authority</a>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p class="govuk-body"><span>Last updated:</span> {{ data.last_updated }}</p>

{% endblock %}

{% block bodyEnd %}
<script>
	console.log('{{ data }}');
</script>
{% endblock %}
