$govuk-fonts-path: "/static/govuk-frontend/assets/fonts/";
$govuk-images-path: "/static/govuk-frontend/assets/images/";

// import all GOVUK Frontend scss
@import "all";

@import "components/tags";

$govuk-green-colour:  #006435;

.results-table {
  table-layout: fixed;
}

.result-cell {
  padding-right: 0;
  text-align: center;

  &--not-available {
    color: $govuk-secondary-text-colour;
  }

  &.successful {
    color: $govuk-green-colour;
    background: rgba($govuk-green-colour, .1);
    font-weight: 700;
  }

  &.unsuccessful,
  &.error {
    color: govuk-colour("red");
    background: rgba(govuk-colour("red") , .1);
    font-weight: 700;
  }

  &.warning {
    color: govuk-colour("yellow");
    background: rgba(govuk-colour("yellow"), .1);
    font-weight: 700;
  }

}

.center-align-cell {
  padding-right: 0;
  text-align: center;
}

.govuk-table__row--no-border {
  .govuk-table__cell {
    border-bottom: 0;
  }
}

.dev-output-row {
  display: flex;
}

.dev-output-title {
  padding-top: 9px;
  padding-right: $govuk-gutter-half;
  color: $govuk-secondary-text-colour;
  font-size: govuk-em(16, 19);
}

.dev-output {
  padding: 10px;
  background: govuk-colour("grey-4");
  font-size: govuk-em(16, 19);
  word-break: break-word;
}

.data-item,
.data-item__number {
  @include govuk-typography-common;
}

.test-result-link {
  display: block;
  font-size: govuk-em(16, 19);
  font-weight: 400;
}
